<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shu.dao.PermissionDAO">

    <resultMap id="permissionMap" type="com.shu.model.Permission">
        <id property="id" column="id"/>
        <result property="permName" column="permName"/>
        <result property="permTag" column="permTag"/>
        <result property="url" column="url"/>
    </resultMap>

    <!--通过ID查询单个-->
    <select id="findById" resultMap="permissionMap">
        SELECT id,permName,permTag,url FROM permission
        WHERE id=#{id}
    </select>

    <!--分页查询-->
    <select id="findByPage" resultMap="permissionMap">
        SELECT id,permName,permTag,url FROM permission
    </select>

    <!--新增-->
    <insert id="insert">
        INSERT INTO permission(id,permName,permTag,url)
        VALUES (#{id},#{permname},#{permtag},#{url})
    </insert>

    <!--修改-->
    <update id="update">
        UPDATE permission SET permName=#{permname},permTag=#{permtag},url=#{url}
        WHERE id=#{id}
    </update>

    <!--通过ID删除单个-->
    <delete id="deleteById">
        DELETE FROM permission
        WHERE id=#{id}
    </delete>

</mapper>